@gui : .gui;

@{gui}{
    background: rgba(0, 100, 200, 0.28);
    height: 100vh;
    padding: 10px;
    margin: 0;
    &__container{
      padding: 80px;
      margin: 10px;
      background: rgba(210,48,50,0.3);
    }
}
